[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "reference/splat-transform"]
	path = reference/splat-transform
	url = https://github.com/playcanvas/splat-transform.git
[submodule "reference/supersplat"]
	path = reference/supersplat
	url = https://github.com/playcanvas/supersplat.git
[submodule "reference/engine"]
	path = reference/engine
	url = https://github.com/playcanvas/engine.git
[submodule "reference/ply2lcc"]
	path = reference/ply2lcc
	url = https://github.com/Deep-In-Sight/ply2lcc.git
