name: Linux CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # ---------------- Dependencies ----------------
    - name: Install Dependencies (Ubuntu)
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          cmake \
          pkg-config \
          libwebp-dev \
          libeigen3-dev \
          nlohmann-json3-dev \
          libabsl-dev \
          zlib1g-dev \
          libvulkan-dev

    # ---------------- Configure ----------------
    - name: Configure CMake
      run: |
        cmake -S . -B build \
          -DCMAKE_BUILD_TYPE=Release

    # ---------------- Build ----------------
    - name: Build
      run: |
        cmake --build build --config Release -j$(nproc)
